Repository owncloud/richdocuments, pull requests merged in 2019-07, with the labels that each got.

#263 Add tests for secure view
  .drone.yml
  Makefile
  phpcs.xml
  tests/acceptance/config/behat.yml
  tests/acceptance/features/bootstrap/SecureViewContext.php
  tests/acceptance/features/bootstrap/bootstrap.php
  tests/acceptance/features/lib/AdminAdditionalSettingsPage.php
  tests/acceptance/features/webUISecureView/main.feature
  vendor-bin/behat/composer.json
  vendor-bin/php_codesniffer/composer.json
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#267 removing of steps that already exists in core
  tests/acceptance/features/bootstrap/SecureViewContext.php
Labels: 4 - To Release, QA-team, dev:acceptance-tests

#268 Use words for permissions in tests
  tests/acceptance/features/webUISecureView/main.feature
Labels: 4 - To Release, QA-team, dev:acceptance-tests

#269 Remove stable10 test jobs
  .drone.yml
  tests/acceptance/features/webUISecureView/main.feature
Labels: 4 - To Release, Drone, QA-team
