Repository owncloud/richdocuments, pull requests merged in 2019-08, with the labels that each got.

#271 secure view test for resharing
  tests/acceptance/features/webUISecureView/main.feature
Labels: 4 - To Release, QA-team, dev:acceptance-tests

#272 issue name fixed
  tests/acceptance/features/webUISecureView/main.feature
Labels: 4 - To Release

#274 Add unit tests on PHP 7.3
  .drone.yml
Labels: 3 - To Review, Drone, QA-team
